body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f2f5fa;
}

.topbar{
  background:#0047b3;
  color:white;
  padding:20px;
}

.topbar h1{
  margin:0;
  font-size:32px;
}

.topbar p{
  margin-top:5px;
}

.container{
  width:90%;
  margin:20px auto;
}

.card{
  background:white;
  border-radius:15px;
  padding:20px;
  margin-bottom:20px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.verified{
  display:flex;
  align-items:center;
  gap:20px;
}

.check{
  width:90px;
  height:90px;
  background:green;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:50px;
}

h2{
  color:green;
}

table{
  width:100%;
  border-collapse:collapse;
}

table td{
  border:1px solid #ddd;
  padding:15px;
}

.footer{
  background:#0047b3;
  color:white;
  text-align:center;
  padding:20px;
}
